<dialog id="login-alert-modal">
    <p>Check username and password and try again.</p>
</dialog>

<script>
    function openAlertModal() {
        var LoginAlertModal = document.getElementById("login-alert-modal");
        LoginAlertModal.showModal();
    }
</script>