<div class="card-container">
    <div class="new-post-card">
        <form class="new-post-form">
            <label for="title">Title</label> <br>
            <input type="text" id="new-post-title"> <br>

            <label for="body">Body</label> <br>
            <textarea id="new-post-body"></textarea> <br>

            <div class="btn-container">
                <button type="submit" class="post-submit-btn">Post</button>
            </div>
        </form>
    </div>
</div>