/* reset margins */
* {
    margin: 0;
    padding: 0;
}

/* color palette */
:root {
    --blue-it: rgb(95, 189, 191);
    --judgement-gray: rgba(35, 35, 35, 0.8);
    --red-zeppelin: #b83619;
    --ron-burgundy:  #6a1e0e;
    --cheese:  rgb(255, 221, 129);
    --daily-rind: rgb(255, 155, 48);
    --live-laugh-beige:  rgb(252, 245, 237) ;
    color: var(--live-laugh-beige); 
    font-family: 'Roboto', sans-serif;    
    font-size: 1.25rem;
}

/* cover img */
body {
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* NAV ***********************/
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--blue-it);
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    margin-top: 10px;
    height: 50px;
    width: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 5px 10px;
}

.nav-link:hover {
    color: var(--ron-burgundy);
}

/* LOGIN & SIGN UP ***********************/
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    flex-wrap: wrap;
}

.auth-card {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 20px 10px 20px;
    width: min-content;
    height: 400px;
    background-color: var(--judgement-gray);   
}

.auth-card input {
    width: 200px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: var(--live-laugh-beige);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 1rem;
}

.auth-card h2 {
    text-align: center;
    margin: 10px;
    color: var(--cheese);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-container {
    text-align: center;
}

.auth-submit-btn {
    display: inline-block;
    padding: 12px 12px;
    color: var(--live-laugh-beige);
    font-size: 1rem;
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(var(--red-zeppelin), var(--ron-burgundy));
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    outline: var(--ron-burgundy);
    cursor: pointer;
    width: 100%;
    margin: 10px 0 10px 0;
}

.auth-submit-btn:hover {
    background: var(--ron-burgundy);
}

/* NEW POST ************************/
.post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    flex-wrap: wrap;
}

.new-post-card {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 75%;
    height: fit-content;
    background-color: var(--judgement-gray);   
}

.new-post-card form {
    width: 100%;
    text-align: center;
}

#new-post-title, #new-post-body {
    width: 80%;
    padding: 15px;
    margin: 10px;
    background-color: var(--live-laugh-beige);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);    
    border-radius: 10px;
    font-size: .75rem;
}

#new-post-body {
    height: 300px;
    resize: vertical;
}

.new-post-card label {
    font-weight: bold;
    margin: 10px;
    color: var(--cheese);
    text-transform: uppercase;
    font-size: 1.25rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif;
}


.submit-btn {
    display: inline-block;
    padding: 12px 12px;
    color: var(--live-laugh-beige);
    font-size: 1rem;
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(var(--red-zeppelin), var(--ron-burgundy));
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    outline: var(--ron-burgundy);
    cursor: pointer;
    width: 200px;
    margin: 10px 0 10px 0;
}

.submit-btn:hover {
    background: var(--ron-burgundy);
}

/* READ SINGLE POST ***********************/
.post-container {
    display: flex;
    justify-content: center;
}

.post-card {
    display: inline-block;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 75%;
    height: fit-content;
    background-color: var(--judgement-gray);   
    text-align: center;

} 

.post-title, .comment-title {
    margin: 5px;
    color: var(--daily-rind);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);    
}

.post-info {
    text-align: center;
}

hr {
    margin: 20px 0 20px 0;
}

.post-body {
    margin-bottom: 20px;
}

.comment-container {
    text-align: center;
}

#comment-form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: var(--live-laugh-beige);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: .75rem;
    resize: vertical;

}

#comment-form label {
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: var(--cheese);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-family: 'Secular One', sans-serif;   
}

/* HOME FEED */
.feed-post-container {
    display: flex;
    justify-content: center;
}

.med-yellow-title {
    color: var(--cheese);
    margin: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Secular One', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;    
}

.truncate-text {
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* MEDIA QUERIES ***********************/
@media (max-width: 800px) {
    .navbar {
        justify-content: center;
    }

    .nav-list {
    display: none;
    }

    .auth-card {
    width: 75%;
    }

    #login-card {
    margin-top: 25px;
    }
    
}
